@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

//colors
$almost-black: #0f1112
$brownish-grey: #666666
$desert: #ccac5b
$dark-grey: #22272b
$cool-grey: #a7a9ac
$white: #ffffff

//font size
$basic: 15px
$big: 35px

//font weights
$light: 300
$regular: 400
$semibold: 600

$base-font-family: 'Open Sans', sans-serif
$base-font-weight: $regular
$base-font-size: $basic

$header-sml-size: $basic
$header-sml-weight: $regular

$basic-exp-semibold-size: $basic
$basic-exp-semibold-weight: $semibold
$basic-exp-semibold-letter-spacing: 6px

$basic-size: $basic
$basic-weight: $light
$basic-letter-spacing: 2px

$header-big-size: $big
$header-big-weight: $semibold
$header-big-letter-spacing: 2px
 
$header-sml-semibold-size: $basic
$header-sml-semibold-weight: $regular
$header-sml-semibold-letter-spacing: 15px
