@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

//colors
$almost-black: #0f1112
$brownish-grey: #666666
$desert: #ccac5b
$dark-grey: #22272b
$cool-grey: #a7a9ac
$white: #ffffff

//fonts

//font weights
$light: 300
$regular: 400
$semibold: 600

$base-font-family: 'Open Sans', sans-serif
$base-font-weight: $regular
$base-font-size: 14px
$base-line-height: 1.4

$header-sml-size: $base-font-size
$header-sml-weight: $regular

$basic-exp-semibold-size: 12
$basic-exp-semibold-weight: $semibold
$basic-exp-semibold-letter-spacing: 6px

$basic-size: 12
$basic-weight: $regular
$basic-letter-spacing: 12

$header-big-size: 12
$header-big-weight: $semibold
$header-big-letter-spacing: 12
 
$header-sml-semibold-size: 12
$header-sml-semibold-weight: $semibold
$header-sml-letter-spacing: 12
