%button-style-1
  padding: 7px 33px
  border: 1px solid $button-style-1-color
  border-radius: 45px
  font-size: 14px
  color: $button-style-1-color
  text-transform: uppercase
  transition: opacity .2s

  &:hover, &:focus
    opacity: .6

%button-style-2
  padding: 7px 33px
  border: 1px solid $button-style-2-color
  border-radius: 45px
  font-size: 14px
  color: $button-style-2-color
  text-transform: uppercase
  transition: opacity .2s
  background-color: $button-style-2-background
  opacity: .6

  &:hover, &:focus
    opacity: 1
    cursor: pointer
  
  &:focus
    outline: 0

%button-style-3
  padding: 7px 33px
  border-image: linear-gradient(center, ellipse cover, white, rgba(0, 0, 0, 0)) 1 100%
  border-width: thick
  border-radius: 45px
  font-size: 14px
  color: $button-style-2-color
  text-transform: uppercase
  background-color: $button-style-2-background
  opacity: 1
